<div class="row spaced-row">
    <h1 class="text-align-center col">About</h1>
</div>

<div class="row">
    <div class="spacer col-2"></div>
    <div class="col-8">
        <p>Ella is a production-ready Universal JavaScript framework.</p>
        <p>The framework consists of an
            <a href="https://github.com/Vandivier/ella-api" target="_blank">API server</a> and a
            <a href="https://github.com/Vandivier/ella-framework" target="_blank">UI framework</a>. The API server is written in LoopBack 3 and the UI framework leverages Angular Universal with Angular 5.
        </p>
    </div>
</div>