<div class="container color-dark">
    <div class="col">
        <p>Create a New Blog Article</p>
    </div>
    <div class="col">
        <p>Your Articles ({{ arrsArticleTitles.length }})</p>
    </div>
    <div class="container color-light">
        <div class="col">
            <p>Use the form below to add a new article.</p>

            <form>
                <input
                    class="txt"
                    name="title"
                    [(ngModel)]="oNewArticle.sTitle"
                    placeholder="Article Title"
                    type="text">
                <input
                    class="txt"
                    name="body"
                    [(ngModel)]="oNewArticle.sContent"
                    placeholder="Ya, so what about it...?"
                    type="text">
                <input type="submit" class="btn" name="save" value="Save"> <!-- TODO: functional implementation of save; admin sees it but not visitor -->
                <input
                    class="btn"
                    (click)="fAddArticle()"
                    name="submit article"
                    type="submit"
                    value="{{ sSubmitArticleButtonText }}">
            </form>
        </div>
    </div>
    <div class="col">
        <p class="container article-container"
           *ngFor="let oArticle of arroArticles">
            {{ oArticle.sTitle }} <!-- TODO: click to go to article page -->
        </p>
    </div>
</div>
