<div class="container color-dark">
    <div class="col">
        <p>Create a New Article</p>
    </div>
    <div class="col">
        <p>Your Articles ({{ arroArticles.length }})</p>
    </div>
    <div class="container color-light">
        <div class="col">
            <p>Use the form below to add a new article.</p>

            <form>
                <input
                    class="txt"
                    name="title"
                    [(ngModel)]="oNewArticle.title"
                    placeholder="Article Title"
                    required
                    type="text">
                <input
                    class="txt"
                    name="body"
                    [(ngModel)]="oNewArticle.content"
                    placeholder="Ya, so what about it...?"
                    required
                    type="text">
                <input type="submit" class="btn" name="save" value="Save"> <!-- TODO: functional implementation of save; admin sees it but not visitor -->
                <input
                    class="btn"
                    (click)="fAddArticle()"
                    name="submit article"
                    type="submit"
                    value="{{ sSubmitArticleButtonText }}">
            </form>
        </div>
    </div>
    <div class="col">
        <div class="article-section"
           *ngFor="let oArticle of arroArticles">
            <div (click)="fToggleArticleContent(oArticle)">
                <span class="article-title">{{ oArticle.id }} - {{ oArticle.title }}</span>
                <span class="article-delete" (click)="fRemoveArticle(oArticle)">X</span>
            </div>
            <div class="article-content-hide" [ngClass]="{'article-content-show': oArticle.isContentVisible}">
                <div class="article-content">{{ oArticle.content }}</div>
            </div>
        </div>
    </div>
</div>
