/* TODO: to styles.scss ? */
/* ref: https://youtu.be/oa9cnWTpqP8?t=15m38s */

.container {
    display: grid;
    grid-template-columns: 50% auto;
}

.col {
    padding: 0 1.3em .4em;
}

.color-dark {
    background: #2885C4;
}

.color-light {
    background: #57B3F1;
}

input.txt {
    border: 0;
    margin-bottom: 2em;
    padding: 1em;
    width: 80%;
}

input.btn {
    background: rgba(255, 48, 48, 0.9);
    border: 0;
    color: white;
    cursor: pointer;
    display: block;
    margin-bottom: 1em;
    padding: 1em 3em;
    width: 80%;
}

.article-section {
    background: #57B3F1;
    font-weight: bold;
    padding: .5em;
    margin-bottom: 10px;
}

.article-title {
    cursor: pointer;
}

.article-delete {
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

.article-content {
    margin-top: 10px;
    background: #5780F1;
    font-weight: normal;
    padding: .5em;
}

.article-content-hide {
    display: none;
}

.article-content-show {
    display: block;
}