/* description: stuff to import pretty much in every component */

$mcfp-red: #d64054;
$mcfp-blue: #194867;
$footer-blue: #12334a;

/* Falcon Theme */
@import 'assets/styles/colors';
@import 'assets/styles/mixins';
@import 'assets/styles/overrides';
@import 'assets/styles/typography';
@import 'assets/styles/backgrounds';
@import 'assets/styles/inputs';
/* End Falcon Theme */
