/* description: stuff to import pretty much in every component */

/* default theme triad palette: http://paletton.com/palette.php?uid=33i0u0kllllllLClnu2lldell58 */
$neutral-light: #ffffff;
$neutral-off-light: #efefef;
$neutral-mid: #3e3e3e;
$neutral-dark: #000000;

$primary-light: #45CECE;
$primary-off-light: #309090;
$primary-mid: #226666;
$primary-dark: #153F3F;
$primary-very-dark: #113333;

$secondary-light: #FFC655;
$secondary-off-light: #EFBA50;
$secondary-mid: #695223;
$secondary-dark: #29200E;

$triad-light: #FF5555;
$triad-off-light: #EF5050;
$triad-mid: #692323;
$triad-dark: #290E0E;
