/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'constants.scss';

body {
    background: $neutral-light;
    color: $triad-dark;
}

ul {
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
}

a {
    color: $triad-dark;
    text-decoration: none;
}

a:hover {
    color: $primary-light;
    text-decoration: none;
}

.text-align-center {
    text-align: center;
}

h1, h2, h3 {
    color: $primary-mid;
}

.btn-primary {
    background-color: $primary-mid;
}

.spaced-row {
    margin-top: 200px;
}
